<ion-view view-title="Chapels">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <div class="card" ng-if="chapel.noEvents">
        <div class="item item-text-wrap">
          No future chapels scheduled
        </div>
      </div>
      <ion-item class="item-thumbnail-left" ng-repeat="chapel in chapel.events" href="#/app/chapels/{{chapel.id}}">
        <img ng-if="chapel.speakers.length > 0" src="{{chapel.speakers[0].thumbnail_photo_url}}" />
        <h2>{{chapel.title}}</h2>
        <!-- <p><strong>{{chapel.date}} @ {{chapel.time}}</strong></p> -->
        <p><strong>{{helpers.formatDate(chapel.starts_at)}}</strong></p>
        <p>{{helpers.formatSpeakers(chapel.speakers)}}</p>
        <p ng-if="chapel.location"><i class="icon ion-location"></i> {{chapel.location.name}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="300px">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
