<ion-view view-title="Chapel">
  <ion-content>
    <ion-list type="card">
      <ion-item class="item-avatar">
        <img ng-if="chapel.speakers.length > 0" src="{{chapel.speakers[0].thumbnail_photo_url}}" />
        <h2>{{chapel.title}}</h2>
        <p><strong>{{helpers.formatDate(chapel.starts_at)}}</strong></p>
        <p>{{helpers.formatSpeakers(chapel.speakers)}}</p>
        <p><i class="icon ion-location"></i> {{chapel.location.name}}</p>
      </ion-item>
      <ion-item class="item-body">
        <p>{{chapel.summary}}</p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia ut sem et fringilla. Donec bibendum massa ac rhoncus mattis. Curabitur nulla lacus, ultricies ac ante id, fringilla elementum mauris. Vivamus neque eros, venenatis eget arcu ut, porttitor semper purus. Proin sit amet vulputate nibh. Ut neque ex, tincidunt sit amet volutpat in, convallis ut enim. Donec interdum nisl ut dui scelerisque fringilla. Donec suscipit nibh convallis ipsum porta, eu accumsan ex consectetur. Morbi varius nisl eu orci fringilla, quis consectetur ipsum pretium. Morbi efficitur quam ac tortor commodo consequat. Cras dignissim massa in finibus consectetur. In tempus, ante et maximus vestibulum, felis nisl tempor diam, et elementum augue tellus ut est. Pellentesque in efficitur nisi.</p> -->
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-calendar"></i>
          Add
        </a>
        <!-- <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a> -->
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
